    <!--<mat-toolbar class="mat-elevation-z2">-->
      <div class="container">
              <div class="row" fxLayout="row">
        <div *ngFor="let dashboardSidenavItem of dashboardSidenavItems" 
          class="cell sidenav-menu-item" fxFlex="100" fxLayoutAlign="start center">
          <a  class="link"
              [routerLinkActive]="['primary-light']" [routerLinkActiveOptions]="{exact: true}" 
              [attr.aria-label]="dashboardSidenavItem.name"
              [routerLink]="['/dashboard', dashboardSidenavItem._id]">
              <span class="type2">
                <mat-icon>edit</mat-icon>
                <span>{{dashboardSidenavItem.name}}</span>
                </span>
            </a>
        </div>
      </div>
      </div>

     
    <!--</mat-toolbar>-->

