<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">
    <div class="full-width-container">
      <mat-card  class="form-block">
        <mat-card-header></mat-card-header>
        <mat-card-title>
          <h2 *ngIf="editMode" class="mat-h2">Редагувати колекцію
            <span class="accent">{{productForm.get('name').value}}</span> у розділі
            <span class="accent">{{paramParentName}}</span></h2>
          <h2 *ngIf="!editMode" class="mat-h2">Створити колекцію у розділі <span class="accent">{{paramParentName}}</span></h2>
        </mat-card-title>

        <mat-card-content>
          <div class="container">

            <form [formGroup]="productForm" #f="ngForm" novalidate>

              <div class="row padding-bottom" fxLayout="row">
                    <div class="cell" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="25">
                      <mat-form-field>
                        <input matInput placeholder="Ідентифікатор" formControlName="_id" required>
                        <mat-error
                          *ngIf="(productForm.get('_id').errors?.minlength ||
                                  productForm.get('_id').errors?.maxlength ||
                                  productForm.get('_id').errors?.required) &&
                                  productForm.get('_id').touched">
                          Довжина повинна бути 7 символів
                        </mat-error>
                        <mat-error
                        *ngIf="productForm.get('_id').errors?.pattern &&
                                productForm.get('_id').touched">
                          Не використовуйте спецсимволи
                      </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="cell" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="25">
                      <mat-form-field>
                        <input matInput placeholder="Назва" formControlName="name" required>
                        <mat-error
                          *ngIf="(productForm.get('name').errors?.minlength ||
                                  productForm.get('name').errors?.maxlength ||
                                  productForm.get('name').errors?.required) &&
                                  productForm.get('name').touched">
                          Довжина повинна бути від 4 до 50 символів
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="cell" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="25">
                      <mat-form-field>
                        <mat-select placeholder="Публікувати" formControlName="display">
                          <mat-option [value]="true">
                            Так
                          </mat-option>
                          <mat-option [value]="false">
                            Ні
                          </mat-option>
                        </mat-select>
                        <!-- <mat-error
                          *ngIf="productForm.get('display').errors?.required &&
                                  productForm.get('display').touched">
                          Обов'язкове поле
                        </mat-error> -->
                      </mat-form-field>
                    </div>
                    <div class="cell" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="25">
                        <mat-form-field>
                          <mat-select placeholder="На головній" formControlName="onMainPage">
                            <mat-option [value]="true">
                              Так
                            </mat-option>
                            <mat-option [value]="false">
                              Ні
                            </mat-option>
                          </mat-select>
                          <!-- <mat-error
                            *ngIf="productForm.get('display').errors?.required &&
                                    productForm.get('display').touched">
                            Обов'язкове поле
                          </mat-error> -->
                        </mat-form-field>
                      </div>
              </div>
              <div class="row padding-bottom" fxLayout="row">
                <div class="cell" fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="50">
                  <mat-form-field>
                    <textarea matInput placeholder="Опис" formControlName="description" required></textarea>
                    <mat-error
                      *ngIf="(productForm.get('description').errors?.minlength ||
                        productForm.get('description').errors?.maxlength ||
                        productForm.get('description').errors?.required) &&
                        productForm.get('description').touched">
                      Довжина повинна бути від 4 до 200 символів
                    </mat-error>
                    <mat-error
                      *ngIf="productForm.get('description').errors?.pattern &&
                        productForm.get('description').touched">
                      Не використовуйте спеціальні символи
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="cell wrap" fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="50" formGroupName="dimensions">
                    <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                        <mat-form-field>
                          <input matInput placeholder="Ширина" formControlName="width">
                          <span matSuffix>см</span>
                          <mat-error
                            *ngIf="productForm.get('dimensions.width').errors?.maxlength &&
                            productForm.get('dimensions').get('width').touched">
                            Використовуйте не більше ніж три символа
                          </mat-error>
                          <mat-error
                            *ngIf="productForm.get('dimensions').get('width').errors?.pattern &&
                            productForm.get('dimensions').get('width').touched">
                            Використовуйте тількі цифри
                          </mat-error>
                        </mat-form-field>
                      </div>
                  <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                    <mat-form-field>
                      <input matInput placeholder="Висота" formControlName="height">
                      <span matSuffix>см</span>
                      <mat-error
                        *ngIf="productForm.get('dimensions.height').errors?.maxlength &&
                        productForm.get('dimensions').get('height').touched">
                        Використовуйте не більше ніж три символа
                      </mat-error>
                      <mat-error
                        *ngIf="productForm.get('dimensions').get('height').errors?.pattern &&
                        productForm.get('dimensions').get('height').touched">
                        Використовуйте тількі цифри
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>

                <div class="cell wrap" fxFlex="100" fxFlex.sm="100" fxFlex.gt-sm="50">
                    <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                        <mat-form-field>
                            <input matInput placeholder="Ціна" formControlName="price" >
                            <span matSuffix>грн</span>
                            <mat-error
                              *ngIf="productForm.get('price').errors?.pattern &&
                              productForm.get('price').touched">
                              Використовуйте тількі цифри більші 0
                            </mat-error>
                        </mat-form-field>
                      </div>
                  <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                      <mat-form-field>
                          <input matInput placeholder="Знижка" formControlName="discount" >
                          <span matSuffix>%</span>
                          <mat-error
                            *ngIf="productForm.get('discount').errors?.pattern &&
                            productForm.get('discount').touched">
                            Використовуйте тількі цифри більші 0
                          </mat-error>
                      </mat-form-field>
                  </div>

                </div>
              </div>

              <div class="row padding-bottom" fxLayout="row">
                    <div class="cell-header" fxLayout="row" fxFlex="100">
                        <h3 class="mat-h3 margin-0">Зображення</h3>
                      </div>
                      <div class="cell" fxFlex.xs="100" fxFlex="25">
                        <div class="preview-img-wrapper" >
                          <img *ngIf="productForm.get('menuImage').value" src="{{
                              config.imgPath +
                              config.cloudinary.cloud_name +
                               '/c_fill,w_260,h_170,f_auto/' + productForm.get('menuImage').value}}"
                               alt="Menu Image">
                          <img *ngIf="!productForm.get('menuImage').value"
                               src="{{
                               config.imgPath +
                              config.cloudinary.cloud_name +
                               '/c_fill,w_180,h_180,f_auto/'+
                               config.defaultProductImg}}" alt="Menu Image">
                          <input #inputMenuImage type="file" (change)="addMenuImage($event)"
                                 accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png, .gif, .svg" style="display:none;">
                          <div class="preview-div-processing">
                            <div *ngIf="processingLoadMenuImage" class="spinner-wrapper">
                              <mat-spinner [diameter]="24"></mat-spinner>
                            </div>


                            <div *ngIf="!processingLoadMenuImage" class="button-wrapper">
                              <button mat-mini-fab color="primary" type="button"
                                      (click)="inputMenuImage.click();"
                                      [disabled]="processingLoadMenuImage">
                                <mat-icon *ngIf="!productForm.get('menuImage').value && !processingLoadMenuImage">add</mat-icon>
                                <mat-icon *ngIf="productForm.get('menuImage').value && !processingLoadMenuImage">redo</mat-icon>
                              </button>

                            </div>
                          </div>
                        </div>
                        </div>
              </div>

              <div class="submit-button-wrapper row" fxLayout="row">
                  <div class="cell" fxFlex="40">

                    <button mat-raised-button color="primary" class="full-width" type="button" (click)="onProductFormSubmit(false)"
                            [disabled]="!productForm.valid || processingLoadAssets >=0">
                      Зберегти</button>
                  </div>
                  <div class="cell" fxFlex="40">

                    <button *ngIf="editMode" mat-raised-button color="primary" class="full-width" type="button" (click)="onProductFormSubmit(true)"
                              [disabled]="!productForm.valid || processingLoadAssets >=0">
                      Зберегти і повернутись</button>
                    <button *ngIf="!editMode" mat-raised-button color="primary" class="full-width" type="button" (click)="onProductFormSubmit(true)"
                            [disabled]="!productForm.valid || processingLoadAssets >=0">
                      Створити і повернутись</button>
                  </div>
                    <div class="cell" fxFlex="20">
                    <button mat-raised-button  type="button" (click)="goBack()" class="full-width"
                            [disabled]="processingLoadAssets >=0">Повернутись</button>
                  </div>

                </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
