<header class="app-container-h primary-background" id="header">
  <div class="container" fxHide.lt-md="true">
    <div class="row primary-background">
      <div class="cell">
        <a href="">
          <img src="./assets/images/hmade_logo_light.svg" height="60px">
        </a>
      </div>
      <div fxFlex></div>
    <div class="cell">
      <div class="row" fxLayout="row">
        <div class="cell" fxFlex="100">
          <a mat-button [routerLink]="['/feedback']" class="muted" aria-label="Ask"
             [routerLinkActive]="['accent']" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>mail</mat-icon> Задати питання
          </a>
        </div>
        <div class="cell" fxFlex="100">
          <a mat-button class="muted" aria-label="Call"
             href="tel:+380985443968">
            <mat-icon>phone</mat-icon> 098 544 39 68
          </a>
        </div>
      </div>
    </div>

    </div>
  </div>
</header>
