<mat-card id="product-item-brief">
  <mat-card-content class="wrap">
    <!-- <div *ngIf="product" class="container-px0" fxFlex="100">
      <div class="row" fxLayout="row">
          <section class="cell-px0 social-feed-section" fxFlex="100" fxLayout="row">
              <div *ngIf="config.social.showLikes" class="item text-align-center" fxFlex>
                <mat-icon>thumb_up_alt</mat-icon>
                <span>{{product.likes}}</span>
              </div>
              <div *ngIf="config.social.showLikes" class="item text-align-center" fxFlex>
                  <mat-icon>thumb_down_alt</mat-icon>
                  <span>{{product.dislikes}}</span>
              </div>
              <div *ngIf="config.social.showViews" class="item text-align-center muted" fxFlex>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span>{{product.views}}</span>
              </div>
              <div *ngIf="config.social.showComments" class="item text-align-center muted" fxFlex>
                  <mat-icon>comment</mat-icon>
                  <span>{{product.comments.length}}</span>
              </div>
          </section>
        </div>
    </div> -->

    <div class="mat-card-wide-image" fxLayout="row" fxLayoutAlign="center center">
      <!-- product level (no children)-->
      <div *ngIf="product" fxFlex="100">

        <img *ngIf="media.isActive('gt-sm')" class="responsive-image-stretch" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_400,h_300,f_auto/' +
              'w_200,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/' +
              product.menuImage}}"
             alt="Image" (click)="openDialog(product.menuImage, 
             '/c_fill,w_1100,h_825,f_auto/w_550,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/', product.name)">
        <img *ngIf="media.isActive('sm')" class="responsive-image-stretch" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_460,h_345,f_auto/' +
              'w_230,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/' +
              product.menuImage}}"
              alt="Image" (click)="openDialog(product.menuImage,
              '/c_fill,w_900,h_675,f_auto/w_450,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/', product.name)">
     
        <img *ngIf="media.isActive('xs')" class="responsive-image-stretch" src="{{
            config.imgPath +
            config.cloudinary.cloud_name +
            '/c_fill,w_590,h_443,f_auto/' +
            'w_295,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/' +
            product.menuImage}}"
            alt="Image" (click)="openDialog(product.menuImage, 
            '/c_fill,w_590,h_443,f_auto/w_295,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/', product.name)">
          
      </div>

      <!-- catalog level -->
      <div *ngIf="child" fxFlex="100" class="card">
        <img *ngIf="media.isActive('gt-sm')" class="responsive-image-stretch" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_400,h_300,f_auto/' +
              child.assets[0]}}"
             alt="Image">
        <img *ngIf="media.isActive('sm')" class="responsive-image-stretch" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_460,h_345,f_auto/' +
              child.assets[0]}}"
             alt="Image">
        <img *ngIf="media.isActive('xs')" class="responsive-image-stretch" src="{{
            config.imgPath +
            config.cloudinary.cloud_name +
            '/c_fill,w_590,h_443,f_auto/' +
            child.assets[0]}}"
             alt="Image">
      </div>
    </div>

    <!-- product level (no children)-->
    <section *ngIf="!child && product" class="row product-brief-section" fxFlex="row">
      <div class="cell" fxFlex="100" fxLayoutAlign="center center">
        <h2 class="mat-h2">{{product.name}}</h2>
       </div>
      <div class="cell product-brief-description" fxFlex="100" fxLayoutAlign="center center">
        <p class="mat-body-1">{{product.description}}</p>
      </div>
    </section>
    <section *ngIf="!child && product && (product.dimensions.width || product.dimensions.height)" 
     class="cell-px0 social-feed-section" fxFlex="100" fxLayout="row">
      <div class="item text-align-center" fxFlex>
        <mat-icon>swap_horiz</mat-icon>
        <span> {{product?.dimensions?.width}}</span>
        <span> см</span>
      </div>
      <div class="item text-align-center" fxFlex>
        <mat-icon>swap_vert</mat-icon>
        <span> {{product?.dimensions?.height}}</span>
        <span> см</span>
      </div>
      </section>

  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <div fxFlex>
      <!--using with catalog, when no children (product level)
      category_id for breadcrumb-->
      <!-- <a *ngIf="!child && category_id" mat-button
         [routerLink]="['/products', 'ch', {outlets: {primary: [category_id, 'details', product._id],
         breadcrumb: [category_id, 'details', product._id]}}]"
         [queryParams]="{name: product.name}"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
        {{product.name}}
      </a> -->
      <!--using with dashboard-->
      <a *ngIf="!child && allowTo('manager')" mat-button
         [routerLink]="['/dashboard', 'product-editor-edit', parentCategory_id, parentCategoryName, product._id]"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
        Редагувати
      </a>
      <a *ngIf="!child && allowTo('manager')" mat-button
        (click)="deleteProductItem(product._id, product.name)">
        Видалити
      </a>
      <!--using with catalog, when children present-->
      <a *ngIf="child" mat-button
         [routerLink]="['/products', 'ch', {outlets: {primary: [child._id], breadcrumb: [child._id]}}]"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
         {{child.name}}
      </a>
    </div>
  </mat-card-actions>
</mat-card>
