@import './lightThemeStyles';

// redefine styles - always dark theme components
@mixin dark-theme-styles($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
  
    #toolbar, #footer, #breadcrumb {
        color: mat-color($foreground, text);
        background-color: mat-color($primary);
        a.link {
          &.active {
            span.type1 {
              border-bottom-color: mat-color($primary, 400);
            }
          }
          span.type1 {
            vertical-align: center;
            border-bottom: 1px solid mat-color($foreground, text);
            &:hover {
              border-bottom: 1px solid mat-color($primary, 300);
            }
          }
        }
      }
  
      .mcs-item {
        .mc-social {
          // &.cell {
            color: mat-color($foreground, text);
            background: mat-color($primary);
          // }
            .disabled {
              color: mat-color($primary, 300);
              // color: mat-color($foreground, disabled-button);
            }
            .enabled {
              // color: mat-color($primary);
            }
        }
      
      }

  .sidenav {
    width: 200px;
      .sidenav-menu-item {
        position: relative;
        color: mat-color($foreground, text);
        background: mat-color($primary, 600);
        height: 100px;
        margin-bottom: 2px;
        &.active {
           background: mat-color($primary, 800);
        }
        &:hover {
            background: mat-color($primary, 700);
            cursor: pointer;
          }
        mat-icon {
            position: absolute;
            top: 2px;
            left: 2px;
        }
        a {
            // padding-left: 10px;
        }
       
      }
    }
  }
  
@mixin dark-theme-components($theme) {
    @include dark-theme-styles($theme);
  }
  
@include dark-theme-components($dark-theme);