@import '~@angular/material/theming';

$mat-custom-blue: (
        50 : #e4e7ee,
        100 : #bbc3d6,
        200 : #8e9bba,
        300 : #60729e,
        400 : #3e548a,
        500 : #1c3675,
        600 : #19306d,
        700 : #142962,
        800 : #112258,
        900 : #091645,
        A100 : #7c91ff,
        A200 : #4966ff,
        A400 : #163bff,
        A700 : #0028fc,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$color1: #143642;
$color2: #0F8B8D;
$color3: #EC9A29;
$color4: #F7F7F7;
$color5: #A8201A;

$mat-custom-color1: (
  50 : #e3e7e8,
  100 : #b9c3c6,
  200 : #8a9ba1,
  300 : #5b727b,
  400 : #37545e,
  500 : #143642,
  600 : #12303c,
  700 : #0e2933,
  800 : #0b222b,
  900 : #06161d,
  A100 : #5cc1ff,
  A200 : #29aeff,
  A400 : #0098f5,
  A700 : #0088db,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$mat-custom-color2: (
  50 : #e2f1f1,
  100 : #b7dcdd,
  200 : #87c5c6,
  300 : #57aeaf,
  400 : #339c9e,
  500 : #0f8b8d,
  600 : #0d8385,
  700 : #0b787a,
  800 : #086e70,
  900 : #045b5d,
  A100 : #8efcff,
  A200 : #5bfbff,
  A400 : #28f9ff,
  A700 : #0ef9ff,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$mat-custom-color3: (
  50 : #fdf3e5,
  100 : #f9e1bf,
  200 : #f6cd94,
  300 : #f2b869,
  400 : #efa949,
  500 : #ec9a29,
  600 : #ea9224,
  700 : #e7881f,
  800 : #e47e19,
  900 : #df6c0f,
  A100 : #ffffff,
  A200 : #ffe8d8,
  A400 : #ffcaa5,
  A700 : #ffbb8b,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$mat-custom-warn: (
  50 : #f5e4e4,
  100 : #e5bcba,
  200 : #d4908d,
  300 : #c2635f,
  400 : #b5413c,
  500 : #a8201a,
  600 : #a01c17,
  700 : #971813,
  800 : #8d130f,
  900 : #7d0b08,
  A100 : #ffadac,
  A200 : #ff7b79,
  A400 : #ff4946,
  A700 : #ff302c,
        contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
        )
);

// @include mat-core();
// mat-palette accepts $palette-name, main, lighter and darker variants ($default: 500, $lighter: 100, $darker: 700)
$light-primary: mat-palette($mat-custom-blue);
$light-accent: mat-palette($mat-light-blue);
$light-warn: mat-palette($mat-custom-warn);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$dark-primary: mat-palette($mat-custom-blue);
$dark-accent: mat-palette($mat-light-blue);
$dark-warn: mat-palette($mat-custom-warn);


$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$custom-color-primary: mat-palette($mat-custom-color1);
$custom-color-accent: mat-palette($mat-custom-color2);
$custom-color-warn: mat-palette($mat-custom-warn);

$custom-color-theme: mat-dark-theme($custom-color-primary, $custom-color-accent, $custom-color-warn);

$mainTheme: $light-theme;

@include angular-material-theme($mainTheme);

@mixin toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  
  #toolbar, #footer, #breadcrumb {
        color: mat-color($foreground, text);
        background-color: mat-color($primary);
        a.link {
          &.active {
            span.type1 {
              border-bottom-color: mat-color($primary, 300);
            }
          }
          span.type1 {
            border-bottom: 1px solid mat-color($foreground, text);
            &:hover {
              border-bottom: 1px solid mat-color($primary, 200);
            }
          }
        }
      }
}

@mixin landing-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  #landing {
        color: mat-color($foreground, text);
        
        .side-container {
          background-color: mat-color($accent);
          
        }
        .main-container {

        }
      }
}

@mixin dark-components-theme($theme) {
  // @include toolbar-theme($theme);
}

@mixin custom-color-components-theme($theme) {
  @include toolbar-theme($theme);

  @include landing-theme($theme);
}

@mixin light-components-theme($theme) {
  // @include mat-sidenav-theme($theme);
}

@include dark-components-theme($dark-theme);
@include light-components-theme($light-theme);
@include custom-color-components-theme($custom-color-theme);


// coloring 
$background-color: map_get($mat-grey, 50);
$_primary: mat-color($light-primary);
$_accent: mat-color($light-accent);
$_warn: mat-color($light-warn);

$primary-light50: mat-color($light-primary, 50);
$primary-light: mat-color($light-primary, 100);
$primary-dark: mat-color($light-primary, 900);

$accent-light50: mat-color($light-accent, 50);
$accent-light: mat-color($light-accent, 100);
$accent-dark: mat-color($light-accent, 900);

$warn-light50: mat-color($light-warn, 50);
$warn-light: mat-color($light-warn, 100);
$warn-dark: mat-color($light-warn, 900);

.primary {
  color: $_primary;
}

.primary-light {
  color: $primary-light !important;
}

.primary-dark {
  color: $primary-dark;
}

.primary-background {
  background-color: $_primary;
}

.primary-background-light {
  background-color: $primary-light;
}

.primary-background-dark {
  background-color: $primary-dark;
}

.accent{
  color: $_accent;
}

.accent-background{
  background-color: $_accent;
}

.warn {
  color: $_warn;
}

.warn-background {
  background-color: $_warn;
}

$muted-light: rgba(0, 0, 0, 0.4);
$muted: rgba(0, 0, 0, 0.5);
$muted-strong: rgba(0, 0, 0, 0.3);
$red: #cc0000;
$green: #009900;
$white: #ffffff;

.red {
  color: $red;
}

.green {
  color: $green;
}

.muted-light {
  color: $muted-light;
}

.muted {
  color: $muted;
}

.muted-strong {
  color: $muted-strong;
}

//old
$border: rgba(0, 0, 0, 0.12);
$light-gray: #D6E7F7;

.light-gray-background {
  background-color: $light-gray;
}

.danger {
  color: $_warn;
}

