@import '~@angular/material/theming';
// @include mat-core();

// $dark-primary-text: rgba(black, 0.87);
// $dark-secondary-text: rgba(black, 0.54);
// $dark-disabled-text: rgba(black, 0.38);
// $dark-dividers: rgba(black, 0.12);
// $dark-focused: rgba(black, 0.12);
// $light-primary-text: white;
// $light-secondary-text: rgba(white, 0.7);
// $light-disabled-text: rgba(white, 0.5);
// $light-dividers: rgba(white, 0.12);
// $light-focused: rgba(white, 0.12);

$mat-custom-blue: (
        50 : #e4e7ee,
        100 : #bbc3d6,
        200 : #8e9bba,
        300 : #60729e,
        400 : #3e548a,
        500 : #1c3675,
        600 : #19306d,
        700 : #142962,
        800 : #112258,
        900 : #091645,
        A100 : #7c91ff,
        A200 : #4966ff,
        A400 : #163bff,
        A700 : #0028fc,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

// $mat-custom-lighter: (
//         50 : #e4eaee,
//         100 : #bbcbd6,
//         200 : #8ea9ba,
//         300 : #60869e,
//         400 : #3e6c8a,
//         500 : #1c5275,
//         600 : #194b6d,
//         700 : #144162,
//         800 : #113858,
//         900 : #092845,
//         A100 : #7cb8ff,
//         A200 : #499dff,
//         A400 : #1681ff,
//         A700 : #0074fc,
//         contrast: (
//                 50: $dark-primary-text,
//                 100: $dark-primary-text,
//                 200: $dark-primary-text,
//                 300: $dark-primary-text,
//                 400: $dark-primary-text,
//                 500: $light-primary-text,
//                 600: $light-primary-text,
//                 700: $light-primary-text,
//                 800: $light-primary-text,
//                 900: $light-primary-text,
//                 A100: $dark-primary-text,
//                 A200: $light-primary-text,
//                 A400: $light-primary-text,
//                 A700: $light-primary-text,
//         )
// );

$mat-custom-warn: (
        50 : #f9e0e0,
        100 : #f0b3b3,
        200 : #e68080,
        300 : #db4d4d,
        400 : #d42626,
        500 : #cc0000,
        600 : #c70000,
        700 : #c00000,
        800 : #b90000,
        900 : #ad0000,
        A100 : #ffd7d7,
        A200 : #ffa4a4,
        A400 : #ff7171,
        A700 : #ff5858,
        contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
        )
);

// @include mat-core();
// mat-palette accepts $palette-name, main, lighter and darker variants ($default: 500, $lighter: 100, $darker: 700)
$light-primary: mat-palette($mat-custom-blue);
$light-accent: mat-palette($mat-custom-blue);
$light-warn: mat-palette($mat-custom-warn);

$light-theme: mat-light-theme($light-primary, $light-primary, $light-warn);

$dark-primary: mat-palette($mat-custom-blue);
$dark-accent: mat-palette($mat-custom-blue);
$dark-warn: mat-palette($mat-custom-warn);

$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$mainTheme: $light-theme;

@include angular-material-theme($mainTheme);

@mixin toolbar-theme($theme) {
        $primary: map-get($theme, primary);
        $accent: map-get($theme, accent);
        $warn: map-get($theme, accent);
        $foreground: map-get($theme, foreground);
        $background: map-get($theme, background);
        .toolbar {
                color: mat-color($foreground, text);

                // Use mat-color to extract individual colors a palette.
                background-color: mat-color($primary);
                border-color: mat-color($accent, A400);
              }
      }

@mixin dark-components-theme($theme) {
        @include toolbar-theme($theme);
      }
@include dark-components-theme($dark-theme);


// coloring 
$background-color: map_get($mat-grey, 50);
$_primary: mat-color($light-primary);
$_accent: mat-color($light-accent);
$_warn: mat-color($light-warn);

$primary-light50: mat-color($light-primary, 50);
$primary-light: mat-color($light-primary, 100);
$primary-dark: mat-color($light-primary, 900);

$accent-light50: mat-color($light-accent, 50);
$accent-light: mat-color($light-accent, 100);
$accent-dark: mat-color($light-accent, 900);

$warn-light50: mat-color($light-warn, 50);
$warn-light: mat-color($light-warn, 100);
$warn-dark: mat-color($light-warn, 900);

.primary {
  color: $_primary;
}

.primary-light {
  color: $primary-light !important;
}

.primary-dark {
  color: $primary-dark;
}

.primary-background {
  background-color: $_primary;
}

.primary-background-light {
  background-color: $primary-light;
}

.primary-background-dark {
  background-color: $primary-dark;
}

.accent{
  color: $_accent;
}

.accent-background{
  background-color: $_accent;
}

.warn {
  color: $_warn;
}

.warn-background {
  background-color: $_warn;
}

$muted-light: rgba(0, 0, 0, 0.4);
$muted: rgba(0, 0, 0, 0.5);
$muted-strong: rgba(0, 0, 0, 0.3);
$red: #cc0000;
$green: #009900;
$white: #ffffff;

.red {
  color: $red;
}

.green {
  color: $green;
}

.muted-light {
  color: $muted-light;
}

.muted {
  color: $muted;
}

.muted-strong {
  color: $muted-strong;
}

//old
$border: rgba(0, 0, 0, 0.12);
$light-gray: #D6E7F7;

.light-gray-background {
  background-color: $light-gray;
}

.danger {
  color: $_warn;
}

