@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic|Montserrat');

@import './material';

// overriding
$mainFontFamily: 'Roboto, sans-serif';

$custom-typography: mat-typography-config(
        $font-family: $mainFontFamily
        );
        
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

// $custom-mat-list-typography: mat-typography-config(
//         $subheading-2: mat-typography-level(14px, 20px, 400)  //use mat-body-1 style for mat-list items (instead subheading-2)
// );
// @include mat-list-typography($custom-mat-list-typography);

$config: mat-typography-config();

// @mixin candy-carousel-typography($config) {
//         .custom {
//           font: {
//             family: mat-font-family($config, display-1);
//             size: mat-font-size($config, display-1);
//             weight: mat-font-weight($config, display-1);
//           }
//         }
//       }
// @include candy-carousel-typography($config);

a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: inherit;
//   text-decoration: none;
//   font-size: mat-font-size($config, subheading-2);
//   font-family: mat-font-family($config);
//   font-weight: mat-font-weight($config, subheading-2);
//   line-height: mat-line-height($config, subheading-2);
        &.link span {
                &.type1 {
                        @include mat-typography-level-to-styles($config, subheading-2);
                }
                &.type2 {
                        @include mat-typography-level-to-styles($config, body-1);
                }
        }
//   color: mat-color($foreground, text);
}


// // Represents a collection of typography levels.
// // Defaults come from https://material.io/guidelines/style/typography.html
// @function mat-typography-config(
//   $font-family:   'Roboto, "Helvetica Neue", sans-serif',
//   $display-4:     mat-typography-level(112px, 112px, 300),
//   $display-3:     mat-typography-level(56px, 56px, 400),
//   $display-2:     mat-typography-level(45px, 48px, 400),
//   $display-1:     mat-typography-level(34px, 40px, 400),
//   $headline:      mat-typography-level(24px, 32px, 400),
//   $title:         mat-typography-level(20px, 32px, 500),
//   $subheading-2:  mat-typography-level(16px, 28px, 400),
//   $subheading-1:  mat-typography-level(15px, 24px, 400),
//   $body-2:        mat-typography-level(14px, 24px, 500),
//   $body-1:        mat-typography-level(14px, 20px, 400),
//   $caption:       mat-typography-level(12px, 20px, 400),
//   $button:        mat-typography-level(14px, 14px, 500),
//   // Line-height must be unit-less fraction of the font-size.
//   $input:         mat-typography-level(inherit, 1.125, 400)
// ) {
// // Background palette for light themes.
// $mat-light-theme-background: (
//   status-bar: map_get($mat-grey, 300),
//   app-bar:    map_get($mat-grey, 100),
//   background: map_get($mat-grey, 50),
//   hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
//   card:       white,
//   dialog:     white,
//   disabled-button: rgba(black, 0.12),
//   raised-button: white,
//   focused-button: $dark-focused,
//   selected-button: map_get($mat-grey, 300),
//   selected-disabled-button: map_get($mat-grey, 400),
//   disabled-button-toggle: map_get($mat-grey, 200),
//   unselected-chip: map_get($mat-grey, 300),
//   disabled-list-option: map_get($mat-grey, 200),
// );

// // Background palette for dark themes.
// $mat-dark-theme-background: (
//   status-bar: black,
//   app-bar:    map_get($mat-grey, 900),
//   background: #303030,
//   hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
//   card:       map_get($mat-grey, 800),
//   dialog:     map_get($mat-grey, 800),
//   disabled-button: rgba(white, 0.12),
//   raised-button: map-get($mat-grey, 800),
//   focused-button: $light-focused,
//   selected-button: map_get($mat-grey, 900),
//   selected-disabled-button: map_get($mat-grey, 800),
//   disabled-button-toggle: black,
//   unselected-chip: map_get($mat-grey, 700),
//   disabled-list-option: black,
// );

// // Foreground palette for light themes.
// $mat-light-theme-foreground: (
//   base:              black,
//   divider:           $dark-dividers,
//   dividers:          $dark-dividers,
//   disabled:          $dark-disabled-text,
//   disabled-button:   rgba(black, 0.26),
//   disabled-text:     $dark-disabled-text,
//   hint-text:         $dark-disabled-text,
//   secondary-text:    $dark-secondary-text,
//   icon:              rgba(black, 0.54),
//   icons:             rgba(black, 0.54),
//   text:              rgba(black, 0.87),
//   slider-min:        rgba(black, 0.87),
//   slider-off:        rgba(black, 0.26),
//   slider-off-active: rgba(black, 0.38),
// );

// // Foreground palette for dark themes.
// $mat-dark-theme-foreground: (
//   base:              white,
//   divider:           $light-dividers,
//   dividers:          $light-dividers,
//   disabled:          $light-disabled-text,
//   disabled-button:   rgba(white, 0.3),
//   disabled-text:     $light-disabled-text,
//   hint-text:         $light-disabled-text,
//   secondary-text:    $light-secondary-text,
//   icon:              white,
//   icons:             white,
//   text:              white,
//   slider-min:        white,
//   slider-off:        rgba(white, 0.3),
//   slider-off-active: rgba(white, 0.3),
// );