@import '~@angular/material/theming';

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$mat-custom-darker: (
        50 : #e4e7ee,
        100 : #bbc3d6,
        200 : #8e9bba,
        300 : #60729e,
        400 : #3e548a,
        500 : #1c3675,
        600 : #19306d,
        700 : #142962,
        800 : #112258,
        900 : #091645,
        A100 : #7c91ff,
        A200 : #4966ff,
        A400 : #163bff,
        A700 : #0028fc,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$mat-custom-lighter: (
        50 : #e4eaee,
        100 : #bbcbd6,
        200 : #8ea9ba,
        300 : #60869e,
        400 : #3e6c8a,
        500 : #1c5275,
        600 : #194b6d,
        700 : #144162,
        800 : #113858,
        900 : #092845,
        A100 : #7cb8ff,
        A200 : #499dff,
        A400 : #1681ff,
        A700 : #0074fc,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);

$mat-custom-warn: (
        50 : #f9e0e0,
        100 : #f0b3b3,
        200 : #e68080,
        300 : #db4d4d,
        400 : #d42626,
        500 : #cc0000,
        600 : #c70000,
        700 : #c00000,
        800 : #b90000,
        900 : #ad0000,
        A100 : #ffd7d7,
        A200 : #ffa4a4,
        A400 : #ff7171,
        A700 : #ff5858,
        contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
        )
);

// @include mat-core();
$primary: mat-palette($mat-custom-darker);
$accent: mat-palette($mat-custom-lighter);
$warn: mat-palette($mat-custom-warn);

$theme-light: mat-light-theme($primary, $accent, $warn);
$theme-dark: mat-dark-theme($primary, $accent, $warn);

// overriding
$overridedTheme: $theme-light;

@include angular-material-theme($overridedTheme);

// getting variables
$foreground: map-get($overridedTheme, foreground);
$background: map-get($overridedTheme, background);
$config: mat-typography-config();




// coloring 
$_primary: mat-color($primary);
$_accent: mat-color($accent);
$_warn: mat-color($warn);

$primary-light50: mat-color($primary, 50);
$primary-light: mat-color($primary, 100);
$primary-dark: mat-color($primary, 900);

$accent-light50: mat-color($accent, 50);
$accent-light: mat-color($accent, 100);
$accent-dark: mat-color($accent, 900);

$warn-light50: mat-color($warn, 50);
$warn-light: mat-color($warn, 100);
$warn-dark: mat-color($warn, 900);

.primary {
  color: $_primary;
}

.primary-light {
  color: $primary-light !important;
}

.primary-dark {
  color: $primary-dark;
}

.primary-background {
  background-color: $_primary;
}

.primary-background-light {
  background-color: $primary-light;
}

.primary-background-dark {
  background-color: $primary-dark;
}

.accent{
  color: $_accent;
}

.accent-background{
  background-color: $_accent;
}

.warn {
  color: $_warn;
}

.warn-background {
  background-color: $_warn;
}

$muted-light: rgba(0, 0, 0, 0.4);
$muted: rgba(0, 0, 0, 0.5);
$muted-strong: rgba(0, 0, 0, 0.3);
$red: #cc0000;
$green: #009900;
$white: #ffffff;

.red {
  color: $red;
}

.green {
  color: $green;
}

.muted-light {
  color: $muted-light;
}

.muted {
  color: $muted;
}

.muted-strong {
  color: $muted-strong;
}

//old
$border: rgba(0, 0, 0, 0.12);
$light-gray: #D6E7F7;

.light-gray-background {
  background-color: $light-gray;
}

.danger {
  color: $_warn;
}

