<div class="container chat">
  <h2 class="mat-h2 chat__header">chat works!</h2>
  <div class="mat-h4" *ngFor="let activeManager of activeManagers">
    {{activeManager.login}}


  </div>
  <div class="row chat__messages" fxLayout="row">
    <div class="cell" fxFlex>
      <ul class="row messages">
        <li *ngFor="let msg of msgs" class="cell messages__item">
          {{msg.message}}
        </li>
      </ul>
    </div>
  </div>
    <div class="row" fxLayout="row">
      <div class="cell" fxFlex="130px">
        <input class="mat-input" type="text" [(ngModel)]="room">
      </div>
      <div class="cell" fxFlex="70px">
        <button (click)="onJoin()">Join</button>
      </div>
    </div>
  <div class="chat__send-control row" fxLayout="row">
    <div class="cell chat__input-message" fxFlex="130px">
      <input class="mat-input" type="text" [(ngModel)]="message">
    </div>
    <div class="cell chat__send-button" fxFlex="70px">
      <button (click)="onSendMessage()">Send</button>
    </div>
  </div>

</div>

