
<div class="container">
  <div class="app-container">
    <div class="row" fxLayout="row">
      <div class="cell" fxFlex="80">
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
        {{mc | json}}
      </div>
      <div class="cell mc-side mat-elevation-z10" fxFlex="20">
        {{mc | json}}
      </div>
    </div>
  </div>
</div>
