<div id="landing">
    <div class="container">
          <div class="app-container-h app-container-v">
        <div class="container">
            <section class="row padding-bottom landing-block" fxLayout="row">
  
                <div id="landing-left" class="container" fxFlexOrder.lt-md="2" fxFlex.xs="50" fxFlex.sm="50" fxFlex="35" fxLayoutAlign="center center">
                    <div class="row" fxLayoutAlign="center center">
                      <div class="cell">
                        <a [routerLink]="['/products', 'ch']">  
                          <img class="responsive-image-stretch" src="{{
                            config.imgPath +
                            config.cloudinary.cloud_name +
                            '/c_fill,w_500,h_500,f_auto/' +
                            'products-logo'}}"
                            alt="Вироби">
                          </a>
                      </div>
                      <a mat-stroked-button color="primary" alt="Вироби" class="hover-button"
                      [routerLink]="['/products', 'ch']">Мої роботи</a>
                    </div>
                </div>
            
                  <div class="container" fxFlexOrder.lt-md="1" fxFlex.lt-md="100" fxFlex="30" fxLayoutAlign="center center">
                    <div class="row" >
                      <div class="cell">
                    
                          <h2 class="mat-h2 text-align-center">Вітаю в творчій майстерні!</h2>
                          <div class="avatar-big-block">
                              <img class="avatar-big" src="./assets/images/my-photo180x180.png" alt="my photo">
                          </div>
                          <p class="body-3 muted text-align-center">Мене звати Ірина, я мама чудової донечки, саме Вона надихає мене на нові цікаві витвори.
                          Канікули у школі - творимо маленький театр ляльок. Вільна хвилинка - в'яжемо теплі шарфики для іграшок,
                          шиємо та розмальовуємо кавові іграшки. Свято у школі - новий віночок..
                          Ще багато можна писати про себе та мої захоплення, але згодом..
                            Завітайте у мою майстерню.</p>
                      </div>
                    </div>
                  </div>
            
                <div id="landing-right" class="container" fxFlexOrder.lt-md="3" fxFlex.xs="50" fxFlex.sm="50" fxFlex="35" fxLayoutAlign="center center">
                    <div class="row" fxLayoutAlign="center center">
                      <div class="cell">
                        <a [routerLink]="['/mcs', 'ch']">  
                          <img class="responsive-image-stretch" src="{{
                            config.imgPath +
                            config.cloudinary.cloud_name +
                            '/c_fill,w_500,h_500,f_auto/' +
                            'mcs-logo'}}"
                           alt="Майстеркласи">
                        </a>
                        
                      </div>
                      <a mat-stroked-button class="hover-button" color="primary" alt="Майстеркласи" 
                      [routerLink]="['/mcs', 'ch']">Майстеркласи</a>
  
                    </div>
                </div>
              </section>
  
            <section *ngIf="products" class="row" appScrolling>
                <div class="cell" fxFlex="100">
                  <h2 class="mat-h2">Нові роботи</h2>
                </div>

  
              <div *ngFor="let product of products; let i = index" class="cell pr" [attr.id]="'product' + i"
                  [ngClass]="{'landing-product': i < productsPoint && i >= productsPoint - portionOfProducts,
                   'opacity0': i >= productsPoint}"
                  fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
                  <!-- {{isElementScrolled('#product' + i)}} -->
                <app-product-item-brief [product]="product"></app-product-item-brief>
              </div>
            </section>
        </div>
           
      </div>
    </div>
  
  </div>
  

<!-- <div id="landing" fxLayoutAlign="center center">
  <div class="container">
        <div class="app-container-h app-container-v">
      <div class="container">
          <section class="row padding-bottom landing-block" fxLayout="row">

              <div id="landing-left" class="container" fxFlexOrder.lt-md="2" fxFlex.xs="50" fxFlex.sm="50" fxFlex="35" fxLayoutAlign="center center">
                  <div class="row" fxLayoutAlign="center center">
                    <div class="cell">
                      <a [routerLink]="['/products', 'ch']">  
                        <img class="responsive-image-stretch" src="{{
                          config.imgPath +
                          config.cloudinary.cloud_name +
                          '/c_fill,w_500,h_500,f_auto/' +
                          'products-logo'}}"
                          alt="Вироби">
                        </a>
                    </div>
                    <a mat-stroked-button color="primary" alt="Вироби" class="hover-button"
                    [routerLink]="['/products', 'ch']">Мої роботи</a>
                  </div>
              </div>
          
                <div class="container" fxFlexOrder.lt-md="1" fxFlex.lt-md="100" fxFlex="30" fxLayoutAlign="center center">
                  <div class="row" >
                    <div class="cell">
                  
                        <h2 class="mat-h2 text-align-center">Вітаю в творчій майстерні!</h2>
                        <div class="avatar-big-block">
                            <img class="avatar-big" src="./assets/images/my-photo180x180.png" alt="my photo">
                        </div>
                        <p class="mat-body-1 muted text-align-center">Мене звати Ірина, я мама чудової донечки, саме Вона надихає мене на нові цікаві витвори.
                        Канікули у школі - творимо маленький театр ляльок. Вільна хвилинка - в'яжемо теплі шарфики для іграшок,
                        шиємо та розмальовуємо кавові іграшки. Свято у школі - новий віночок..
                        Ще багато можна писати про себе та мої захоплення, але згодом..
                          Завітайте у мою майстерню.</p>
                    </div>
                  </div>
                </div>
          
              <div id="landing-right" class="container" fxFlexOrder.lt-md="3" fxFlex.xs="50" fxFlex.sm="50" fxFlex="35" fxLayoutAlign="center center">
                  <div class="row" fxLayoutAlign="center center">
                    <div class="cell">
                      <a [routerLink]="['/mcs', 'ch']">  
                        <img class="responsive-image-stretch" src="{{
                          config.imgPath +
                          config.cloudinary.cloud_name +
                          '/c_fill,w_500,h_500,f_auto/' +
                          'mcs-logo'}}"
                         alt="Майстеркласи">
                      </a>
                      
                    </div>
                    <a mat-stroked-button class="hover-button" color="primary" alt="Майстеркласи" 
                    [routerLink]="['/mcs', 'ch']">Майстеркласи</a>

                  </div>
              </div>
            </section>

          <section *ngIf="products" class="row">
              <div class="cell" fxFlex="100">
                <h2 class="mat-h2">Нові роботи</h2>
              </div>

            <div *ngFor="let product of products" class="cell"
                fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
              <app-product-item-brief [product]="product"></app-product-item-brief>
            </div>
          </section>
      </div>
         
    </div>
  </div>

</div> -->
