<div id="landing">

  <div id="banner">
  </div>
    <!-- <app-screen-test></app-screen-test>  -->
  
 
  <!-- <div id="home-left">
    <img src="./assets/images/hmade_logo_dark.svg" id="home-logo" alt="logo">
    <div>
      <a mat-flat-button class="radius-5" href="/products/ch" id="home-action">Перейти</a>
      <button mat-fab-button class="radius-5" (click)="onScroll()">Down</button>
      <button color="primary" mat-mini-fab (click)="onScroll()" id="scroll-down-btn">
        <mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
  </div>
  <div id="home-right" #scrollPoint>
    <p>right</p>
  </div>
  <div id="home-bottom">
    <div fxLayout="row full-width">
      <div fxFlex="10"></div>
      <div class="row wrap full-width" fxFlex="80" fxLayout="row" fxLayoutAlign="space-between">
        <div class="cell-padding" fxFlex="1 1 auto" *ngFor="let descendant of descendants" fxLayout="row">
          <a fxFlex="1 1 auto" mat-stroked-button class="radius-5 text-center" color="accent"
             [routerLink]="['/products', 'ch', {outlets: {primary: [descendant._id], breadcrumb: [descendant._id]}}]"
             [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
             {{descendant.name}}
          </a>

        </div>

      </div>

    </div>
  </div> -->

</div>
