<article id="privacy">
  <div class="container">
    <div class="app-container-h app-container-v">
      <div class="container">
        <div class="row" fxLayout="row">
          <div class="cell" fxFlex="100">
            <section>
              <h2 class="mat-h2 title">Політика конфіденційності</h2>
              <p class="text-justify muted mat-body-1">Цей документ описує політику конфіденційності сайту hmade.work
                'Майстерня творчості'.</p>
              <p class="text-justify muted mat-body-1">Наш сайт може містити посилання на інші веб-ресурси. Ми не несемо
                відповідальності за політику конфіденційності або зміст цих ресурсів. Стосовно будь-яких питаннь або
                сумнів з приводу цієї політики, просимо зв’язатися з нами за адресою електронної пошти
                <a class="bold" href="mailto:privacy@hmade.work">privacy@hmade.work</a>. Ця політика поширюється тільки на інформацію, зібрану на нашому сайті.</p>
              <h3 class="mat-h3">Інформація від користувачів (огляди, рейтинги, коментарі та інше)</h3>
              <p class="text-justify muted mat-body-1">Наш сайт надає можливість користувачам залишати коментарі,
                приймати участь у обговореннях, впливати на рейтинги певного контенту сайту. Повідомляємо, що інформація
                опублікована користувачем, а також логін, ім’я, прізвище або будь-яке зображення чи фотографія справжні
                чи вигадані стають надбаннями громадськості та можуть бути використані в будь-яких засобах інформації.
              </p>
              <p class="text-justify muted mat-body-1">Приймаючи участь у дискусії, користувач повинен усвідомлювати, що
                його дії будуть публічними і будь-яка особиста інформація, надана ним, може бути прочитана, збережена чи
                використана іншими користувачами або ресурсами, наприклад, для розсилки небажаних повідомлень. Ми не
                несемо відповідальність за особисту інформацію, яку користувач публікує на сайті в тому числі у
                коментарях, і користувач погоджується, що ця інформація буде вважатися такою, що була надана
                користувачем.</p>
              <p class="text-justify muted mat-body-1">Ми залишаємо за собою право на видалення коментарів та
                повідомлень користувача, а також на блокування облікового запису користувача без пояснення причин.</p>
              <h3 class="mat-h3">Обмеження відповідальності за достовірність отриманої інформації.</h3>
              <p class="text-justify muted mat-body-1">Ми не перевіряємо достовірність інформації отриманої від
                користувачів.</p>
              <p class="text-justify muted mat-body-1">
                Інформація, яка може бути оброблена в процесі взаємодії з користувачем:
              </p>
              <ul>
                <li class="text-justify muted mat-body-1">Основна інформація профілю користувача, отримана під час його
                  реєстрації на
                  сайті або передана під час автентифікації сервісами Google чи Facebook, зокрема ім’я, прізвище,
                  електронна адреса та зображення профілю.</li>
                <li class="text-justify muted mat-body-1">Певна інформація з облікового запису Google або Facebook після
                  отримання
                  згоди на її перегляд від користувача.</li>
                <li class="text-justify muted mat-body-1">Інформація про відвідування, що зберігається у файлах cookie,
                  та дозволяє
                  ідентифікувати користувача. Також деяка не приватна інформація, на зразок IP-адреси, типу браузера
                  тощо
                </li>
                <li class="text-justify muted mat-body-1">Користувацькі повідомлення, такі як коментарі або повідомлення
                  в формі
                  зворотнього зв’язку, що можуть бути збережені та оброблені. Для зв'язку з користувачем може
                  використовуватися адреса електронної пошти надана ним.</li>
              </ul>
              <p class="text-justify muted mat-body-1">Більшість браузерів спочатку налаштовані на отримання файлів
                cookie, однак ви можете вимкнути ці налаштування і вказати, щоб браузер блокував всі файли cookie або
                сповіщав про відправку цих файлів. Просимо врахувати, що деякі функції сайту не зможуть працювати
                належним чином, якщо відключити файли cookie. </p>
              <h3 class="mat-h3">Надання доступу до інформації</h3>
              <p class="text-justify muted mat-body-1">Ми надаємо доступ до особистої інформації іншим компаніям і
                приватним особам, лише за таких обмежених обставин:</p>
              <ul>
                <li class="text-justify muted mat-body-1">Має місце наявність дозволу Користувача. Для передачі
                  будь-якої конфіденційної інформації потрібна явна згода Користувача.</li>
                <li class="text-justify muted mat-body-1">
                  У нас є підстави вважати, що доступ, використання, збереження або розкриття такої інформації необхідне
                  для:
                  <ul>
                    <li class="text-justify muted mat-body-1">Дотримання будь-яких чинних законів, постанов, або
                      дійсного запиту з державних органів</li>
                    <li class="text-justify muted mat-body-1">Розслідування потенційних порушень</li>
                    <li class="text-justify muted mat-body-1">При виявленні і запобіганні шахрайським діям, а також
                      вирішенні проблем безпеки та усунення технічних неполадок</li>
                  </ul>
                </li>
              </ul>
              <h3 class="mat-h3">Захист інформації</h3>
              <p class="text-justify muted mat-body-1">Ми вживаємо всіх необхідних заходів для захисту даних від
                несанкціонованого доступу, зміни, розкриття чи знищення. До цих заходів належать, зокрема, внутрішня
                перевірка процесів збору, зберігання та обробки даних і заходів безпеки, включаючи відповідне шифрування
                і заходи щодо забезпечення фізичної безпеки даних для запобігання неавторизованого доступу до систем, в
                яких ми зберігаємо особисті дані.</p>
              <h3 class="mat-h3">Зміна даної політики конфіденційності</h3>
              <p class="text-justify muted mat-body-1">Користувач, використовуючи цей сайт, прийняв умови цієї політики
                конфіденційності і приймає, що дана політика конфіденційності може час від часу змінюватися. Зміни, що
                вносяться до політики конфіденційності, публікуються на цій сторінці.</p>
            </section>

            <section>
              <h2 class="mat-h2 title">Умови використання</h2>
              <p class="text-justify muted mat-body-1">Уважно прочитайте ці умови, використання сайту означає згоду з
                цими умовами.</p>

              <h3 class="mat-h3">Використання сайту</h3>
              <p class="text-justify muted mat-body-1">Ми дозволяємо Вам переглядати матеріали цього сайту та
                використовувати їх тільки для особистого некомерційного використання. Будь-яке копіювання чи відтворення
                матеріалів можливе лише за згодою автора, з вказанням посилання на цей сайт та за умови збереження Вами
                всієї інформації про авторське право.</p>

              <h3 class="mat-h3">Відмова від відповідальності</h3>
              <p class="text-justify muted mat-body-1">Матеріали та послуги цього сайту надаються без жодних гарантій.
                Ми не гарантуємо точності та повноти матеріалів, що надаються на цьому cайті. Ми в будь-який час без
                повідомлення можемо вносити зміни в матеріали та послуги, що надаються на цьому cайті. Ми за жодних
                обставин не несемо відповідальності за будь-які збитки (включно з, але не обмежуючись збитком від втрати
                прибутку, даних або від переривання ділової активності), що виникли внаслідок використання, неможливості
                використання або результатів використання цього сайту.</p>

              <h3 class="mat-h3">Реєстрація на сайті</h3>
              <p class="text-justify muted mat-body-1">Реєструючись на cайті, ви погоджуєтеся надати достовірну та точну
                інформацію про себе і свої контактні дані.</p>
              <p class="text-justify muted mat-body-1">У результаті реєстрації ви отримуєте логін і пароль, за безпеку
                яких ви несете відповідальність. Ви також несете відповідальність за всі дії під вашим логіном і паролем
                на cайті. У разі втрати реєстраційних даних ви зобов'язуєтеся повідомити нас про це.</p>

              <h3 class="mat-h3">Зворотний зв'язок і коментарі</h3>
              <p class="text-justify muted mat-body-1">Звертаючись до нас або залишаючи коментарі на сайті, Ви несете
                відповідальність, що це повідомлення не є незаконним, шкідливим, загрозливим, наклепницьким, суперечить
                моральним нормам, порушує авторські права, пропагує ненависть і/або дискримінацію людей за расовою,
                етнічною, статевою, релігійною, соціальною ознаками, містить образи на адресу конкретних осіб або
                організацій, а також будь-яким іншим чином порушує чинне законодавство України. Ми залишаємо за собою
                право на видалення Ваших коментарів та повідомлень, а також на блокування Вашого облікового запису без
                пояснення причин.</p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>