<article id="privacy">
    <div class="container">
      <div class="app-container-h app-container-v">
        <div class="container">
          <div class="row" fxLayout="row">
            <div class="cell" fxFlex="100">
                <section>             
                  <h2 class="mat-h2">Політика конфіденційності</h2>
                  <p class="text-justify muted mat-body-1">Політика конфіденційності</p></section>
                <section>                
                  <h2 class="mat-h2">Умови використання</h2>
                  <p class="text-justify muted mat-body-1">Умови використання</p>
                </section>
            </div>
          </div>
        </div>
    </div>
  </div>

</article>