<article *ngIf="mc" class="mcs-item">
  <div class="app-container-v app-container-h">
    <div class="container">
      <div class="row" fxLayout="row">
        <div class="cell" fxFlex="100">
          <div class="container">

            <div class="row" fxLayout="row">
              <div class="cell" fxFlex="100">
                <div class="row" fxLayout="row">
                  <div class="mc-social mat-elevation-z4" fxFlex="100">
                    <div class="item text-align-center" fxFlex>
                      <mat-icon class="hover-cursor" (click)="goToMcs()">reply_all</mat-icon>
                    </div>
                    <div *ngIf="config.social.showLikes" class="item text-align-center" fxFlex>
                      <mat-icon [ngClass]="{
                        'disabled': !(mc.likes.canLike && allowTo('user')), 
                        'enabled': mc.likes.canLike && allowTo('user'), 
                        'hover-cursor': mc.likes.canLike && allowTo('user')}"
                        (click)="onLike(true, mc.likes.canLike && allowTo('user'))">thumb_up_alt</mat-icon>
                      <div class="mat-body-1 caption">{{mc.likes.likedByLength || 0}}</div>
                    </div>
                    <div *ngIf="config.social.showLikes" class="item text-align-center" fxFlex>
                      <mat-icon [ngClass]="{
                        'disabled': !(mc.likes.canDislike && allowTo('user')), 
                        'enabled': mc.likes.canDislike && allowTo('user'), 
                        'hover-cursor': mc.likes.canDislike && allowTo('user')}"
                        (click)="onLike(false, mc.likes.canDislike && allowTo('user'))">thumb_down_alt</mat-icon>
                      <div class="mat-body-1 caption">{{mc.likes.dislikedByLength || 0}}</div>
                    </div>
                    <div *ngIf="config.social.showViews" class="item text-align-center" fxFlex>
                      <mat-icon>remove_red_eye</mat-icon>
                      <div class="mat-body-1 caption">{{mc.views || 0}}</div>
                    </div>
                    <div *ngIf="config.social.showComments" class="item text-align-center" fxFlex>
                      <mat-icon>comment</mat-icon>
                      <div class="mat-body-1 caption">{{mc.comments?.length || 0}}</div>
                    </div>
                    <div class="item text-align-center" fxFlex>
                      <mat-icon>calendar_today</mat-icon>
                      <div class="mat-body-1 caption">{{mc.updatedAt | date: 'dd-MM-yyyy'}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cell" fxFlex="100">
                <h1 class="mat-h2">{{mc.name}}</h1>
              </div>  

              <div class="cell" fxFlex="100">
                <div class="row padding-bottom-3" fxLayout="row">
                  <div class="cell" fxFlex.xs="100" fxFlex="50">
                    <div class="row" fxLayout="row">
                      <div class="cell" fxFlex="100">
                        <p class="mat-body-1 text-justify">{{mc.description}}</p>
                      </div>
                      <mat-divider></mat-divider>

                      <div class="cell wrap" fxFlex="100">
                        <div fxFlex="100">
                            <h3 class="mat-h3">Необхідні матеріали</h3>
                        </div>
                        <table mat-table [dataSource]="mc.materials" class="mat-elevation-z0 app-container-h" fxFlex="100">
                          <!-- Position Column -->
                          <ng-container matColumnDef="name">
                            <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                          </ng-container>
      
                          <!-- Name Column -->
                          <ng-container matColumnDef="value">
                            <!-- <th mat-header-cell *matHeaderCellDef> Name </th> -->
                            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                          </ng-container>
      
                          <!-- Weight Column -->
                          <ng-container matColumnDef="units">
                            <!-- <th mat-header-cell *matHeaderCellDef> Weight </th> -->
                            <td mat-cell *matCellDef="let element"> {{element.units}} </td>
                          </ng-container>
      
                          <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
                          <tr mat-row *matRowDef="let row; columns: ['name', 'value', 'units'];"></tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="cell" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center center">
                    <img class="responsive-image mat-elevation-z4 radius" src="{{
                            config.imgPath +
                            config.cloudinary.cloud_name +
                            '/c_fill,w_460,h_345,f_auto/' +
                            'w_270,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/' +
                            mc.mainImage}}"
                      alt="master class image">
                  </div>
      
                </div>
              </div>  
              <mat-divider></mat-divider>

              <div class="cell" fxFlex="100">
                <div class="row padding-bottom-3" fxLayout="row" *ngFor="let step of mc.steps">

                  <div class="cell" fxFlex="100" fxLayoutAlign="center center">
                    <img class="responsive-image mat-elevation-z4 radius" src="{{
                          config.imgPath +
                          config.cloudinary.cloud_name +
                          '/c_fill,w_460,h_345,f_auto/' +
                          'w_270,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/' +
                          step.pic}}"
                      alt="master class image">
                  </div>
                  <div class="cell" fxFlex="5"></div>
                  <div class="cell" fxFlex="90" fxLayoutAlign="center center">
                    <p class="mat-body text-justify muted">
                      {{step.description}}
                    </p>
                  </div>
                  <div class="cell" fxFlex="5"></div>
                </div>
              </div>  

              <div class="cell" fxFlex="100">
                <app-comments *ngIf="config.social.showComments" [parent_id]="mc._id" [parentCategory]="'mc'"></app-comments>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>