<div class="row" fxLayout="column" fxLayout.gt-xs="row">
  <div class="cell" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>

  <div class="cell" fxFlex.gt-xs="60" fxFlex.gt-md="40">

    <div class="item centered-container">
      <mat-card class="form-block">
        <mat-card-header>
          <mat-card-title>
            <h2 class="mat-h2 accent">Відновлення паролю</h2>
            <mat-spinner *ngIf="processing" fxFlex="30px" [diameter]="24"></mat-spinner>
          </mat-card-title>
        </mat-card-header>


        <mat-card-content>

          <mat-vertical-stepper #stepper linear>
            <mat-step [stepControl]="emailForm" editable="false" >
              <form [formGroup]="emailForm" validate (submit)="onEmailSubmit(stepper)">
                <ng-template matStepLabel>Введіть свій email</ng-template>
                <div fxLayout="row">
                  <div fxFlexAlign="center" class="mat-icon-wrapper">
                    <mat-icon color="primary">mail_outline</mat-icon>
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" type="email" required>

                    <mat-error
                      *ngIf="(emailForm.get('email').errors?.minlength ||
                        emailForm.get('email').errors?.maxlength ||
                        emailForm.get('email').errors?.required) &&
                        emailForm.get('email').touched">
                      Довжина повинна бути від 5 до 30 символів
                    </mat-error>
                    <mat-error
                      *ngIf="emailForm.get('email').errors?.pattern &&
                        emailForm.get('email').touched">
                      Введіть правільну адресу
                    </mat-error>
                    <mat-error
                      *ngIf="emailForm.get('email').errors?.invalidEmail &&
                        emailForm.get('email').touched">
                      Користувач з такою поштою не зареєстрований
                    </mat-error>
                    <mat-error
                      *ngIf="emailForm.get('email').errors?.unrecognizedError &&
                        emailForm.get('email').touched">
                      Сталася помилка
                    </mat-error>
                  </mat-form-field>
                </div>

                <re-captcha [ngClass]="{'display-none': !emailForm.get('email').valid}"
                  [formControlName]="'recaptcha'" #recaptchaRef
                            siteKey="6LelLF0UAAAAAEd0tfLUO02IAuT-_bf0noIJN0nK">
                </re-captcha>
                <div>
                  <button mat-button [disabled]="!emailForm.valid || processing">Далі</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="codeForm" editable="false">

              <form [formGroup]="codeForm" (submit)="onCodeSubmit()">
                <!--<div *ngIf="codeForm.get('code').errors">field {{codeForm.get('code').errors | json}}</div>-->
                <!--<div *ngIf="codeForm.errors">form {{codeForm.errors | json}}</div>-->

                <ng-template matStepLabel>Введіть код, що надійшов на email</ng-template>
                <div fxLayout="row">
                  <div fxFlexAlign="center" class="mat-icon-wrapper">
                    <mat-icon color="primary">settings_ethernet</mat-icon>
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="Код підтвердження" formControlName="code" required>
                    <mat-error
                      *ngIf="codeForm.get('code').errors?.required &&
                    codeForm.get('code').touched">
                      Введіть код
                    </mat-error>
                    <mat-error
                      *ngIf="codeForm.get('code').errors?.invalidCode &&
                        codeForm.get('code').touched">
                      Код введено не вірно
                    </mat-error>
                    <mat-error
                      *ngIf="codeForm.get('code').errors?.maxTries">
                      Ви зробили максимальну кількість спроб
                    </mat-error>
                    <mat-error
                      *ngIf="codeForm.get('code').errors?.unrecognizedError &&
                        codeForm.get('code').touched">
                      Сталася помилка
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button [disabled]="!codeForm.valid || processing">Далі</button>
                  <button *ngIf="codeForm.get('code').errors?.maxTries"
                          mat-button (click)="refresh()">Оновити сторінку</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="passwordForm" editable="false">
              <form [formGroup]="passwordForm" (submit)="onPasswordSubmit()">
                <ng-template matStepLabel>Введіть новий пароль</ng-template>
                <div fxLayout="row">
                  <div fxFlexAlign="center" class="mat-icon-wrapper">
                    <mat-icon color="primary">lock_outline</mat-icon>
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="Пароль" formControlName="password"
                           required [type]="hidePassword ? 'password' : 'text'">
                    <mat-icon class="muted" matSuffix (click)="hidePassword = !hidePassword">
                      {{hidePassword ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                    <mat-error
                      *ngIf="(passwordForm.get('password').errors?.minlength ||
                          passwordForm.get('password').errors?.maxlength ||
                          passwordForm.get('password').errors?.required) &&
                          passwordForm.get('password').touched">
                      Довжина повинна бути від 6 до 15 символів
                    </mat-error>
                    <mat-error
                      *ngIf="passwordForm.get('password').errors?.pattern &&
                         passwordForm.get('password').touched">
                      Використовуйте тільки латинські символи та цифри
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxLayout="row">
                  <div fxFlexAlign="center" class="mat-icon-wrapper">
                    <!--<mat-icon color="primary">lock</mat-icon>-->
                  </div>
                  <mat-form-field>
                    <input matInput placeholder="Підтвердіть пароль" formControlName="passwordConfirm"
                           required [type]="hidePassword ? 'password' : 'text'">
                    <mat-error
                      *ngIf="passwordForm.get('passwordConfirm').errors?.mismatch &&
                      passwordForm.get('passwordConfirm').touched">
                      Пароль не збігається
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button [disabled]="!passwordForm.valid || processing">Завершити</button>
                </div>
              </form>
            </mat-step>

            <!--<mat-step *ngIf="result">-->
              <!--<ng-template matStepLabel>Пароль успішно змінено</ng-template>-->
              <!--&lt;!&ndash;<p class="mat-body-2">Пароль успішно змінено</p>&ndash;&gt;-->
              <!--<div>-->
                <!--<button mat-button [routerLink]="['/user', 'profile']">Перейти в профіль</button>-->
              <!--</div>-->
            <!--</mat-step>-->
          </mat-vertical-stepper>


          <!--<form [formGroup]="userPasswordResetForm" (submit)="onUserPasswordResetSubmit()">-->

          <!--<div fxLayout="row">-->
          <!--<div fxFlexAlign="center" class="mat-icon-wrapper">-->
          <!--<mat-icon [ngClass]="color1">looks_one</mat-icon>-->
          <!--</div>-->
          <!--<mat-form-field>-->
          <!--<input matInput placeholder="Email" formControlName="email" type="email" required>-->
          <!--<mat-error-->
          <!--*ngIf="(userPasswordResetForm.get('email').errors?.minlength ||-->
          <!--userPasswordResetForm.get('email').errors?.maxlength ||-->
          <!--userPasswordResetForm.get('email').errors?.required) &&-->
          <!--userPasswordResetForm.get('email').touched">-->
          <!--Довжина повинна бути від 5 до 30 символів-->
          <!--</mat-error>-->
          <!--<mat-error-->
          <!--*ngIf="userPasswordResetForm.get('email').errors?.pattern &&-->
          <!--userPasswordResetForm.get('email').touched">-->
          <!--Введіть правільну адресу-->
          <!--</mat-error>-->
          <!--</mat-form-field>-->
          <!--<div fxFlexAlign="center" class="mat-icon-wrapper-right">-->
          <!--<mat-spinner *ngIf="userPasswordResetForm.valid && processing === 'one' && !done1"-->
          <!--fxFlex="30px" [diameter]="24"></mat-spinner>-->
          <!--<mat-icon *ngIf="userPasswordResetForm.valid && processing !== 'one' && !done1"-->
          <!--[ngClass]="color1" class="clickable" (click)="onUserPasswordResetSubmit()">send</mat-icon>-->
          <!--<mat-icon *ngIf="done1" [ngClass]="color1">done</mat-icon>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="submit-button-wrapper">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<span fxFlex></span>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<button mat-raised-button class="full-width" color="primary" [disabled]="!userPasswordResetForm.valid">Відправити</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->

          <!--</form>-->

          <!--<div fxLayout="row">-->
          <!--<div fxFlexAlign="center" class="mat-icon-wrapper">-->
          <!--<mat-icon [ngClass]="color2">looks_two</mat-icon>-->
          <!--</div>-->
          <!--<div>Перевірте пошту і перейдіть за посиланням</div>-->
          <!--<div fxFlexAlign="center" class="mat-icon-wrapper-right">-->
          <!--<mat-icon *ngIf="done2" color="primary">done</mat-icon>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="submit-button-wrapper">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<span fxFlex></span>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<button mat-raised-button class="full-width" color="primary" [disabled]="!userPasswordResetForm.valid">Відправити</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->

        </mat-card-content>
        <!--<img mat-card-image class="mat-card-image-bottom" src="./assets/images/logo400x140-2.jpg" alt="">-->
      </mat-card>
    </div>


  </div>
</div>
