<div class="container">
  <div class="app-container-h">
    <div class="row" fxLayout="row">
      <div *ngIf="comments" class="cell">
        <p class="mat-body-1">Показано<span class="mat-body-2"> {{comments.length}}
          </span>коментарів з<span class="mat-body-2"> {{commentsTotalLength || 0}}</span></p>
      </div>
    </div>
    <mat-card class="comments">
      <app-comment class="comment-wrapper" [comment]="comment" (deleteCommentEmitter)="deleteComment($event)"
        (displayCommentEmitter)="displayComment($event)" *ngFor="let comment of comments"></app-comment>
    </mat-card>
    <div *ngIf="processing" class="row" fxLayout="row" fxLayoutAlign="center center">
      <div class="cell" fxFlex="100">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>