<div class="container">
  <div class="app-container">
    <div class="row" fxLayout="row">
      <div class="cell" *ngFor="let comment of comments" fxFlex="100">
        {{comment | json}}
      </div>
      <div class="cell" *ngIf="allowTo('manager') | async" fxFlex="100">
        Permission
      </div>
    </div>
    <form [formGroup]="commentForm" #f="ngForm" novalidate>
      <div class="row" fxLayout="row">
        <div class="cell" fxFlex="10">
          <img *ngIf="allowTo('guest') | async" class="responsive-image"
            src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_50,h_50,f_auto/' +
              user.avatar}}" alt="avatar">
          <!-- <img *ngIf=!user?.avatar" class="responsive-image"
            src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_50,h_50,f_auto/' +
              config.defaultAvatar}}" alt="avatar"> -->
        </div>
          <mat-form-field class="cell" fxFlex="80">
            <textarea matInput placeholder="Коментар"
              formControlName="comment" required>
            </textarea>
            <mat-error
              *ngIf="(commentForm.get('comment').errors?.minlength ||
              commentForm.get('comment').errors?.maxlength ||
              commentForm.get('comment').errors?.required) &&
              commentForm.get('comment').touched">
              Довжина повинна бути від 3 до 200 символів
            </mat-error>
            <mat-error
              *ngIf="commentForm.get('comment').errors?.pattern &&
              commentForm.get('comment').touched">
              Не використовуйте спеціальні символи
            </mat-error>
          </mat-form-field>
        <div class="cell" fxFlex="10">
          <button mat-icon-button (click)="sendComment()"  [disabled]="!commentForm.valid || !(allowTo('admin') | async)">
            <mat-icon class="muted">send</mat-icon>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
