<div class="app-container-h">
  <div class="container">
    <div class="row" fxLayout="column" fxLayout.gt-xs="row">

      <div class="cell" fxFlex="100">
        <mat-card>
          <mat-card-header>
                <h1 class="mat-display-2">Вітаємо на сайті!</h1>


          </mat-card-header>
          <mat-card-content>
            <p class="text-justify muted mat-body-1">
            
              Запрошуємо Вас до співпраці!
            </p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>


</div>