<article id="about">
    <div class="container">
      <div class="app-container-h app-container-v">
        <div class="container">
          <div class="row" fxLayout="row">
            <div class="cell" fxFlex="100">
                <section>
                  <h1 class="mat-display-2">Вітаю в творчій майстерні!</h1>
                  <p class="text-justify muted mat-body-1">
                    Мене звати Ірина, я мама чудової донечки, саме Вона надихає мене на нові цікаві витвори.
                      Канікули у школі - творимо маленький театр ляльок. Вільна хвилинка -
                      в'яжемо теплі шарфики для іграшок, шиємо та розмальовуємо кавові іграшки. 
                      Свято у школі - новий віночок.. Ще багато можна писати про себе та мої захоплення, але згодом.. 
                      Завітайте у мою майстерню.
                  </p>
                </section>
                <section>             
                  <h2 class="mat-h2">Політика конфіденційності</h2>
                  <p class="text-justify muted mat-body-1">Політика конфіденційності</p></section>
                <section>                
                  <h2 class="mat-h2">Умови використання</h2>
                  <p class="text-justify muted mat-body-1">Умови використання</p>
                </section>
            </div>
          </div>
        </div>
    </div>
  </div>

</article>