<div class="toolbar">
<!-- <mat-ttolbar class="mat-elevation-z4 toolbar"> -->
 <!-- color="primary"> -->
  <!-- <mat-toolbar-row> -->
    <div class="logo">
      <a href="">
        <img src="./assets/images/hmade_logo_dark.svg" height="40px" alt="HandMADE logo">
      </a>
    </div>
    <div fxFlex></div>

    <div fxShow="true" fxHide.lt-md="true">
      <a *ngFor="let mainMenuCommonItem of mainMenuCommonItems" class="link"
         [routerLink]="['/', mainMenuCommonItem._id, 'ch']"
         [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
        <span>{{mainMenuCommonItem.name}}</span>
      </a>
    </div>
    <div fxFlex></div>

    <div fxShow="true" fxHide.lt-md="true">
      <a *ngIf="user"  class="link"
              [matMenuTriggerFor]="settingsMenu" #settingsMenuTrigger="matMenuTrigger"
              (mouseover)="onSettingsMenuMouseover()">
        <!-- <mat-icon>settings</mat-icon> -->
        {{user.login}}
      </a>

      <mat-menu #settingsMenu="matMenu" xPosition="after" yPosition="above" [overlapTrigger]="false">
        <span (mouseleave)="onSettingsMenuMouseleave()">
          <a *ngIf="user"
            mat-menu-item [routerLink]="['/user/profile']"
            [routerLinkActive]="['accent']" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>account_circle</mat-icon><span>Профіль</span></a>
          <a *ngIf="user && (user?.role === 'manager' || user?.role === 'admin')"
            mat-menu-item [routerLink]="['/dashboard']"
            [routerLinkActive]="['accent']" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>settings</mat-icon><span>Dashboard</span></a>
        </span>
      </mat-menu>

    <a *ngIf='!user' class="link"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="['/user/login']"><span>Вхід</span></a>
    <a *ngIf='user' class="link" (click)="userLocalLogout()">Вихід</a>
    </div>
    

   <div class="menu-button" fxShow="true" fxHide.gt-sm="true">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="sidenav.opened">format_indent_increase</mat-icon>
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      </button>
    </div>
  <!-- </mat-toolbar-row> -->
<!-- </mat-toolbar> -->
  </div>
<!-- <div class="toolbar" fxLayoutAlign="center end">
    <div fxShow="true" fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="center">
      <a *ngFor="let mainMenuCommonItem of mainMenuCommonItems" mat-button
          [routerLink]="['/', mainMenuCommonItem._id, 'ch']"
          [routerLinkActive]="['primary-light']" [routerLinkActiveOptions]="{exact: true}">
        {{mainMenuCommonItem.name}}
      </a>
    </div>
</div> -->

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxLayout="column" class="theme-dark"
               position="end" class="sidenav" role="navigation" mode="side">
    <div fxLayout="column">
      <mat-nav-list>
        <mat-list-item *ngFor="let mainMenuCommonItem of mainMenuCommonItems">
          <a matLine
             [routerLinkActive]="['muted']" [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="['/', mainMenuCommonItem._id, 'ch']" (click)="sidenav.toggle()">
            {{mainMenuCommonItem.name}}
          </a>
        </mat-list-item>

        <mat-expansion-panel *ngIf="user" class="mat-elevation-z0">
          <mat-expansion-panel-header class="sidenav-expansion-panel">
            <mat-panel-title>
              <mat-list-item>
                <mat-icon matListIcon>settings</mat-icon>
                <span matLine>{{user.login}}</span>
              </mat-list-item>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-list-item *ngIf="user">
            <mat-icon matListIcon>account_circle</mat-icon>
            <a matLine [routerLink]="['/user/profile']"
               [routerLinkActive]="['muted']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()">
              Профіль</a>
          </mat-list-item>
          <mat-list-item *ngIf="user && user?.role === 'manager' || user?.role === 'admin'">
            <mat-icon matListIcon>settings</mat-icon>
            <a matLine [routerLink]="['/dashboard']"
               [routerLinkActive]="['muted']" [routerLinkActiveOptions]="{exact: true}" (click)="sidenav.toggle()">
              Dashboard</a>
          </mat-list-item>
        </mat-expansion-panel>

        <mat-list-item *ngIf='!user'>
          <a matLine
             [routerLinkActive]="['muted']" [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="['/user/login']" (click)="sidenav.toggle()">Вхід</a>
        </mat-list-item>
        <mat-list-item *ngIf='user'>
          <a matLine
             (click)="userLocalLogout()" (click)="sidenav.toggle()">
            Вихід
          </a>
          <mat-icon matListIcon>exit_to_app</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
