<footer class="mat-elevation-z16" id="footer">
  <a mat-button fxHide.lt-md="true" [routerLink]="['/privacy']" aria-label="privacy conditions"
     [routerLinkActive]="['accent']" [routerLinkActiveOptions]="{exact: true}">
    Політика конфіденційності
  </a>
  <div fxFlex></div>
  <a mat-button [routerLink]="['/feedback']" aria-label="Feedback"
     [routerLinkActive]="['accent']" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>question_answer</mat-icon> Зворотній зв'язок
  </a>
</footer>
