
<mat-toolbar class="mat-elevation-z4 header" color="primary">
  <mat-toolbar-row>
    <div class="app-container">
      <div class="container">
        <div class="row" fxLayout>
          <div class="cell wrap" fxFlex fxLayout="row">
            <div>
              <a mat-button class="breadcrumb-button"
                 [routerLink]="['/products', 'ch']"
                 [routerLinkActive]="['primary-light']" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>room</mat-icon>
              </a>
            </div>

            <div *ngFor="let hierarchyCategoryItem of hierarchyCategory">
              <a mat-button class="breadcrumb-button" *ngIf="!processing"
                 [routerLink]="['/products', 'ch', {outlets: {primary: [hierarchyCategoryItem._id], breadcrumb: [hierarchyCategoryItem._id]}}]"
                 [routerLinkActive]="['primary-light']" [routerLinkActiveOptions]="{exact: true}">
                {{hierarchyCategoryItem.name}}<mat-icon>keyboard_arrow_right</mat-icon></a>
            </div>
            <div *ngIf="!processing" fxHide.lt-md>
              <button *ngIf="productName" mat-button disabled class="primary-light">
                <!-- <mat-icon>insert_photo</mat-icon> -->
                 {{productName}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
