<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">

    <div class="container">
      <div class="row">
        <div class="cell">
          <h2 class="mat-h2">Редактор виробів</h2>
        </div>
      </div>
      <form [formGroup]="catalogForm" #f="ngForm">
        <div class="row" fxLayout="column" fxLayout.gt-xs="row">
          <div formArrayName="parents" class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25"
               *ngFor="let categoryBlock of catalogForm.get('parents')['controls']; let i = index">

                <mat-select placeholder="Виберіть категорію" formControlName="{{i}}" required
                            (selectionChange)="onSelectCategory($event, i)">
                  <mat-option *ngFor="let child of children[i]" [value]="child._id">
                    {{child.name}}
                  </mat-option>
            </mat-select>
          </div>

        </div>
      </form>

      <div *ngIf="noMoreChildren" class="row" fxLayout="column" fxLayout.gt-xs="row">
        <div class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
          <div class="preview-img-wrapper">
            <img src="{{
                        config.imgPath +
                        config.cloudinary.cloud_name +
                        '/c_fill,w_180,h_180,f_auto/' +
                        config.defaultProductImg}}" alt="product">
            <div class="preview-div-processing">
              <div class="button-wrapper">
                <button mat-mini-fab color="primary" type="button"
                        [routerLink]="['/dashboard', 'mc/new', parentCategory_id]"
                        [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let mc of mcs"  class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
          <app-mcs-item-brief [mc]="mc" [parentCategory_id]="parentCategory_id"
          ></app-mcs-item-brief>
        </div>

      </div>
    </div>
  </div>
</div>
