  .w393 {
    width: 393px;
    background-color: beige
  }
  
  .w100 {
    width: 100px;
    background-color: rgb(66, 66, 19)
  }
  
  .w360 {
    width: 360px;
    background-color: burlywood
  }
  
  .w350 {
    width: 350px;
    background-color: cadetblue
  }