<div class="container">

<div class="row" fxLayout="column" fxLayout.gt-xs="row">
  <div fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>

  <div class="cell" fxFlex.gt-xs="60" fxFlex.gt-md="40">
    <!--<div class="cell" fxFlex.gt-xs="60" fxFlex.gt-md="40" fxFlexOffset.gt-xs="20" fxFlexOffset.gt-md="30">-->

  <div class="centered-container">
    <mat-card  class="form-block">
      <mat-card-content>
        <div class="padding-bottom" fxLayout fxLayoutAlign="center center">
          <img class="responsive-image" src="./assets/images/hmade_logo_dark.svg" width="367px">
        </div>
        <form [formGroup]="userLoginForm" (submit)="onUserLoginSubmit()">

          <div fxLayout="row">
            <div fxFlexAlign="center" class="mat-icon-wrapper">
              <mat-icon color="primary">account_circle</mat-icon>
            </div>
            <mat-form-field>
              <input matInput placeholder="Логін" formControlName="login" required>
              <mat-error
                *ngIf="userLoginForm.get('login').errors?.required &&
                      userLoginForm.get('login').touched">
                      Введіть логін
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <div fxFlexAlign="center" class="mat-icon-wrapper">
              <mat-icon color="primary">lock_outline</mat-icon>
            </div>
            <mat-form-field>
              <input matInput placeholder="Пароль" formControlName="password"
                     required [type]="hidePassword ? 'password' : 'text'">
              <mat-icon class="muted" matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error
                *ngIf="userLoginForm.get('password').errors?.required &&
                          userLoginForm.get('password').touched">
                Введіть пароль
              </mat-error>
            </mat-form-field>
          </div>

          <!-- <div class="submit-button-wrapper">
            <button mat-raised-button class="full-width" color="primary" [disabled]="!userLoginForm.valid">Увійти</button>       
          </div> -->

          <div class="links-wrapper" fxLayoutAlign="center">
            <button class="google-button full-width" mat-raised-button color="primary" aria-label="Login"
            [disabled]="!userLoginForm.valid">Увійти</button>       
          </div>
          <div fxLayout="row" class="links-wrapper">
              <a [routerLink]="['/user/create']">Зареєструватись</a>
              <span fxFlex></span>
              <a [routerLink]="['/user/password-reset']">Забули пароль</a>
          </div>

          <div class="links-wrapper" fxLayoutAlign="center">
            <!-- <button mat-stroked-button type="button" (click)="userGoogleLogin()">
                <i class="fab fa-google"></i> Signin with google
            </button> -->
            <!-- <a mat-stroked-button href="http://localhost:8081/api/user/auth/google">
              <i class="fab fa-google"></i> Signin with google
            </a> -->
            <a class="google-button" mat-raised-button href="{{config.host}}/api/user/auth/google" aria-label="Sign in with Google">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48">
                  <g>
                    <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                    <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                    <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                    <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                  </g>
                </svg>
              Sign in with Google</a>
          </div>

         
   
        </form>
      </mat-card-content>
      <!--<img mat-card-image class="mat-card-image-bottom" src="./assets/images/logo400x140-2.jpg" alt="">-->
    </mat-card>
  </div>


  </div>
</div>
</div>