<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">

    <div class="container">
      <div class="row">
        <div class="cell">
          <h2 class="mat-h2">Інструменти</h2>
        </div>
      </div>

      <div class="row" fxLayout="column" fxLayout.gt-xs="row">
        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">favicon32x32</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
                config.imgPath +
                config.cloudinary.cloud_name +
                '/c_fill,w_32,h_32/' +
                faviconFilename}}"
                 alt="icon">
          </div>
        </div>
      </div>

      <div class="row" fxLayout="column" fxLayout.gt-xs="row">

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">Grabo Logo 250x90</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
                config.imgPath +
                config.cloudinary.cloud_name +
                '/c_fill,w_250,h_90/' +
                logoFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">Grabo Logo 140x50</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
                config.imgPath +
                config.cloudinary.cloud_name +
                '/c_fill,w_140,h_50/' +
                logoFilename}}"
                 alt="icon">
          </div>
        </div>

      </div>

      <div class="row" fxLayout="column" fxLayout.gt-xs="row">

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">512x512</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_512,h_512/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">384x384</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_384,h_384/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">192x192</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_192,h_192/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">152x152</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_152,h_152/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">144x144</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_144,h_144/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">128x128</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_128,h_128/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">96x96</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_96,h_96/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>

        <div class="cell" fxFlex.sm="100" fxFlex.gt-sm="50" fxLayout="column" >
          <div fxFlex>
            <h4 class="mat-h4">72x72</h4>
          </div>
          <div fxFlex fxLayoutAlign="center center">
            <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_72,h_72/' +
              iconFilename}}"
                 alt="icon">
          </div>
        </div>



      </div>
    </div>

  </div>
</div>
