<div id="products">
  <div class="container">
    <div class="app-container-h app-container-v">
      <div class="container">
        <div class="row" fxLayout="row">
          <div *ngFor="let product of products; let i = index" class="cell"
            [ngClass]="{animationAppear1s: i <= skip + portionOfProducts}" fxFlex.xs="100" fxFlex.sm="50"
            fxFlex.md="33.3" fxFlex.gt-md="25">
            <app-product-item-brief [product]="product" [category_id]="category_id"
              (refreshProducts)="refreshProducts()"></app-product-item-brief>
          </div>
          <div *ngFor="let child of children" class="cell animationAppear1s" fxFlex.xs="100" fxFlex.sm="50"
            fxFlex.md="33.3" fxFlex.gt-md="25">
            <app-product-item-brief [child]="child"></app-product-item-brief>
          </div>
        </div>
        <div *ngIf="processing && products && products.length" class="row" fxLayout="row" fxLayoutAlign="center center">
          <div class="cell" fxFlex="100">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>