<div id="products">
  <div class="container">
    <div class="app-container-h app-container-v">
      <!-- <div class="container">
        <div class="row" fxLayout="row"> -->

          <div class="container">
            <!-- <div *ngIf="category?.description" class="row" fxLayout="row" fxFlex="100">
              <div class="cell" fxFlex="100">
                <mat-card>
                  <mat-card-content>
                    <div class="text-justify">
                      <div class="category-description-body">
                        <p [innerHTML]="category?.description"></p>
                      </div>


                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div> -->
            <div class="row" fxLayout="row">
              <div *ngFor="let product of products" class="cell"
                  fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
                <app-product-item-brief [product]="product" [category_id]="category_id"></app-product-item-brief>
              </div>
              <div *ngFor="let child of children" class="cell"
                  fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
                <app-product-item-brief  [child]="child"></app-product-item-brief>
              </div>
            </div>
          </div>
        <!-- </div>
      </div> -->
    </div>
  </div>

</div>