<div class="container chat">

  <!-- <section class="row chat__switch" fxLayout="row">
    <div class="cell chat__switch_type_on" fxFlex="100">
      <button mat-fab (click)="chatVisibleSwitch()">
        <mat-icon>chat_bubble</mat-icon>
      </button>
    </div>
    <div class="cell chat__switch_type_off" fxFlex="100">
      <button mat-fab (click)="chatVisibleSwitch()">
        <mat-icon>speaker_notes_off</mat-icon>
      </button>
    </div>
  </section> -->

  <section *ngIf="chatVisible" class="row chat__activeManagers" fxLayout="row">
    <div class="cell" *ngFor="let activeManager of activeManagers" fxFlex>
      <div>Active manager {{activeManager | json}}</div>
      <button class="mat-raised-button" (click)="joinToManager(activeManager._id)">{{activeManager.login}}</button>
    </div>
  </section>

  <section *ngIf="chatVisible" class="row chat__dialog chDialog" fxLayout="row">
    <div class="cell chDialog__wrapper" fxFlex="100">
      <ul class="row chMessages" fxLayout="row">
        <li *ngFor="let msg of msgs" class="cell chMessages__item" fxFlex="100">
          <div>{{msg | json}}</div>
          <!-- <div class="chMessages__item_fromServer">{{msg.message}}</div> -->
        </li>
      </ul>
    </div>
  </section>

  <section *ngIf="chatVisible" class="row chat__footer chControl" fxLayout="row">
    <div class="cell chControl__input" fxFlex="calc(100%-70px)" fxLayoutAlign="start center">
      <input matInput [(ngModel)]="message">
    </div>
    <div class="cell chControl__send" fxFlex="70px" fxLayoutAlign="center center">
      <button mat-mini-fab (click)="onSendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </section>

</div>




<!-- <div class="container chat">
  <h2 class="mat-h2 chat__header">chat works!</h2>

  <div class="row chat__messages" fxLayout="row">
    <div class="cell" fxFlex>
      <ul class="row messages">
        <li *ngFor="let msg of msgs" class="cell messages__item">
          {{msg.message}}
        </li>
      </ul>
    </div>
  </div>
    <div class="row" fxLayout="row">
      <div class="cell" fxFlex="130px">
        <input class="mat-input" type="text" [(ngModel)]="room">
      </div>
      <div class="cell" fxFlex="70px">
        <button (click)="onJoin()">Join</button>
      </div>
    </div>
  <div class="chat__send-control row" fxLayout="row">
    <div class="cell chat__input-message" fxFlex="130px">
      <input class="mat-input" type="text" [(ngModel)]="message">
    </div>
    <div class="cell chat__send-button" fxFlex="70px">
      <button (click)="onSendMessage()">Send</button>
    </div>
  </div>

</div> -->