<div class="chat">
  <!-- <div class="container">
    <div class="row" fxLayout="row">
      <div class="cell" fxFlex="100"> -->
  <section class="container chat__header">
    <div class="row">
      <div class="cell" fxFlex="calc(100%-60px)" fxLayoutAlign="center center">
        <h2 class="mat-h2 margin-0">Чат</h2>
      </div>
      <div class="cell" fxFlex="60px" fxLayoutAlign="center center">
        <!-- <button mat-raised-button (click)="connect()" [disabled]="socketConnected">Connect</button> -->
        <button mat-mini-fab (click)="disconnect()" [disabled]="!socketConnected">
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </div>
    </div>
  </section>

  <section *ngIf="!showDialog" class="container chat__connection">
    <div class="row chConnection" fxLayout="row">
      <div class="cell chConnection__joinToManager" fxFlex="100">
        <div class="row">
          <div *ngIf="!activeManagers.length && !gotActiveManagers" class="cell" fxFlex="100">
            Завантажується список менеджерів
          </div>
          <div *ngIf="!activeManagers.length && gotActiveManagers" class="cell" fxFlex="100">
            Нажаль менеджерів немає в мережі
          </div>
          <div class="cell" *ngFor="let activeManager of activeManagers" fxFlex="100">
            <!-- <div>Active manager {{activeManager | json}}</div> -->
            <button mat-raised-button (click)="joinToManagerRequest(activeManager._id)">{{activeManager.login}}</button>
          </div>
        </div>
      </div>
      <div *ngIf="requestOnJoin" class="cell chConnection__incomingConnectionCongirmation" fxFlex="100">
        <button mat-raised-button (click)="joinToManagerAccept()">Підтвердити</button>
      </div>
    </div>
  </section>

  <section class="container chat__dialog">
    <div class="row chDialog" fxLayout="row">
      <div class="cell chDialog__messages" fxFlex="100">
        <ul class="row" fxLayout="row">
          <li *ngFor="let msg of msgs" class="cell" fxFlex="100">
            {{msg.message}}
          </li>
        </ul>
      </div>
      <div class="cell chDialog__control" fxFlex="100">
        <div class="row" fxLayout="row">
          <div class="cell chDialog__control_input" fxFlex="70" fxLayoutAlign="start center">
            <input [(ngModel)]="message">
          </div>
          <div class="cell chDialog__control_send" fxFlex="30" fxLayoutAlign="center center">
            <button mat-raised-button (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- </div>
    </div>
  </div> -->
</div>