    <div class="mcs-item  mat-elevation-z2">
      <div class="container">
          <div class="row" fxLayout="row">
              <div class="mc-social" fxFlex="100">
                  <div *ngIf="config.social.showLikes" class="item text-align-center" fxFlex>
                    <mat-icon>thumb_up_alt</mat-icon>
                    <div class="mat-body-1 caption">{{mc.likes.likedByLength || 0}}</div>
                  </div>
                  <div *ngIf="config.social.showLikes" class="item text-align-center" fxFlex>
                      <mat-icon>thumb_down_alt</mat-icon>
                      <div class="mat-body-1 caption">{{mc.likes.dislikedByLength || 0}}</div>
                  </div>
                  <div *ngIf="config.social.showViews" class="item text-align-center" fxFlex>
                      <mat-icon>remove_red_eye</mat-icon>
                      <div class="mat-body-1 caption">{{mc.views || 0}}</div>
                  </div>
                  <div *ngIf="config.social.showComments" class="item text-align-center" fxFlex>
                      <mat-icon>comment</mat-icon>
                      <div class="mat-body-1 caption">{{mc.comments?.length || 0}}</div>
                  </div>
                   <div class="item text-align-center" fxFlex>
                      <mat-icon>calendar_today</mat-icon>
                      <div class="mat-body-1 caption">{{mc.updatedAt | date: 'dd-MM-yyyy'}}</div>
                  </div>
                </div>
            </div>
    
        <div class="row padding-bottom" fxLayout="row">
          <div class="cell" fxFlex="100" fxFlex.sm="35" fxFlex.md="25" fxFlex.gt-md="20" fxLayoutAlign="center center">
              <img class="responsive-image" src="{{
                config.imgPath +
                config.cloudinary.cloud_name +
                '/c_fill,w_535,h_350,f_auto/' +
                'w_265,g_south_east,x_5,y_5,l_hmade_logo_light_watermark/' +
                mc.mainImage}}"
                alt="master class image">
          </div>
          <div class="cell" fxFlex="100" fxFlex.sm="65" fxFlex.md="75" fxFlex.gt-md="80" fxLayoutAlign="center center">
              <div class="row" fxLayout="row">
                <div class="cell" fxFlex="100">
                  <h2 class="mat-h2">
                    {{mc.name}}
                  </h2>
                <!-- </div>
                   <div class="cell" fxFlex="100"> -->
                  <p class="mat-body-1 text-align-justify">
                    {{mc.description}}
                  </p>
                </div>
              </div>
    
          </div>
        </div>
      <!-- </mat-card-content>
      <mat-card-actions> -->
          <div class="row" fxLayout="row">
            <section class="cell-px0" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
              <div class="item text-align-center muted" fxFlex>
                 <!-- (click)="goToMcsItemDetail(mc._id)"> -->
    
                <a mat-raised-button color="accent" aria-label="Open"
                  [routerLink]="['/mcs','show', mc._id]"
                  [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
                  Докладно
               </a>
    
              </div>
              <div *ngIf="allowTo('manager')" class="item text-align-center muted" fxFlex aria-label="Edit">
                <a mat-button (click)="editMcsItem(mc._id)">
                  <mat-icon>edit</mat-icon>
                </a>
              </div>
              <div *ngIf="allowTo('manager')" class="item text-align-center muted" fxFlex aria-label="Delete">
                <a mat-button (click)="deleteMcsItem(mc._id, mc.name)">
                  <mat-icon>delete</mat-icon>
                </a>
              </div>
    
            </section>
        </div>
      </div>
      
    </div>
    
  <!-- </mat-card-actions>
</mat-card> -->

