<div class="row" FxLayout="row">
  <div class="cell" fxFlex="100">
    <h2 *ngIf="processedUnreadedCommentsParents?.length" class="mat-h2">Нові коментарі</h2>
     <!-- <p>{{unreadedCommentsParents | json}}</p> -->
  </div>
</div>
     
<div *ngIf="processedUnreadedCommentsParents?.length" class="row" FxLayout="row">
  <div *ngFor="let processedUnreadedCommentsParent of processedUnreadedCommentsParents; let i= index;" class="cell" fxFlex="100">
    <h3 class="mat-h3"><a aria-label="Open" [routerLink]="['/mcs','show', processedUnreadedCommentsParent._id]"
      [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
      Майстер-клас {{processedUnreadedCommentsParent.name[0]}}</a></h3>
    <!-- {{processedUnreadedCommentsParent | json}} -->
    <app-comments-list [parent_id]="processedUnreadedCommentsParent._id" [parentCategory]="'mc'" [commentsReadedTillFilter]="true"
    (processedUnreadedComments)="onProcessedUnreadedComments($event)"></app-comments-list>
  </div>
</div>
     